---
import { Image } from "astro:assets";

import { SITE } from "@/siteConfig";

import profilePicture from "@/assets/profile-picture.png";
---

<div class="mt-8 py-4">
  <Image
    src={profilePicture}
    alt={SITE.name}
    height={256}
    width={256}
    loading="eager"
    draggable="false"
    class="mx-auto size-32"
  />
  <h1 class="mt-6 text-center text-4xl font-bold tracking-tight text-lightModeForeground dark:text-darkModeForeground">{SITE.name}</h1>
  <p class="mt-6 text-center text-2xl font-medium text-lightModeForegroundMuted dark:text-darkModeForegroundMuted">{SITE.hero}</p>
  <p class="mt-6 text-balance text-center text-lg text-lightModeForegroundMuted dark:text-darkModeForegroundMuted">{SITE.bio}</p>
</div>
