---
import { formatDate, calculateReadTime } from "@/lib/util";

const { post } = Astro.props;
const readTime = calculateReadTime(post.body || "");
---

<li class="flex flex-col text-center group">
  <a href={`/blog/${post.id}`} class="text-lightModeForegroundMuted dark:text-darkModeForegroundMuted">
    <span class="flex flex-wrap justify-center text-balance text-2xl font-medium underline group-hover:text-lightModeForeground dark:group-hover:text-darkModeForeground transition-colors">
      {post.data.title}
    </span>
    <div class="mt-2 text-sm italic opacity-80">
      {formatDate(post.data.publicationDate)} • {readTime}
    </div>
    <div class="mt-2 text-base">
      {post.data.description}
    </div>
  </a>
</li>
